<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Registrer</title>
    </head>
    <body class="container mt-5 p-3 mb-2 bg-secondary text-warning bg-dark" >
        <div class="row">
            <div class="col-4 me-5">
                <h1>Registrer</h1>
                {% with messages = get_flashed_messages() %}    
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <form action="/crear" method="post">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name: </label>
                    <input type="text" class="form-control" id="first_name" name="first_name" >
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name: </label>
                    <input type="text" class="form-control" id="last_name" name="last_name" >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="text" class="form-control" id="email" name="email" >
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm Password: </label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                </div>
                <input type="hidden" name="register" value="user">
                <button type="submit" class="btn btn-primary">Registrer</button>
                </form>
            </div>   
            <div class="col-4 ms-5">
                <h1>Login</h1>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email: </label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password: </label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>
